{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search User</h1>

    <form action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Enter username" required>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if users %}
        <h2>Search Results:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-uppercase">ID</th>
                    <th scope="col" class="text-uppercase">First name</th>
                    <th scope="col" class="text-uppercase">Last name</th>
                    <th scope="col" class="text-uppercase">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <th scope="row">{{ u.id }}</th>
                        <td>{{ u.first_name }}</td>
                        <td>{{ u.last_name }}</td>
                        <td><a href="{% url 'user' u.pk %}">@{{ u.username }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}