{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="#" method="post">
                <h1 class="mb-5">Update Profile</h1>
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary w-100 mb-3" type="submit">Update</button>
                <p class="text-center">Go back to <a href="{% url 'home' %}">Home</a></p>
            </form>
        </div>
    </div>
{% endblock %}